{% set subPageTitle = 'Run Nuclei Test'|trans %}

{% extends "@conformance/base.twig" %}

{% block conformanceContent %}
  <p>
    Use this form to run tests using Nuclei tool. Nuclei will be invoked in the backend with all output being redirected
    and streamed below. All exported artifacts will be available as Nuclei Results.
    Export to JSON format is recommended.
  </p>

  <div class="form-container">
    <form method="post">
      <div class="form-group">
        <label for="spEntityId">Service Provider (SP)</label>
        <select id="spEntityId">
          <option value="" selected></option>
          {% for entityId, serviceProvider in serviceProviders %}
            <option value="{{ entityId }}">{{ entityId }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label for="acsUrl">Assertion Consumer Service (ACS, optional)</label>
        <select id="acsUrl">
          <option value="" selected></option>
        </select>
        <span class="help">
          If you need to test specific ACS, select it from here. Otherwise, you can leave it empty to resolve it
          automatically.
        </span>
      </div>

      {# TODO mivanci generate from a list of available templates. #}
      {# TODO mivanci Temporarily hardcoded to raw http since headles version gives false positive #}
{#      <div class="form-group">#}
{#        <label for="templateId">Template</label>#}
{#        <select id="templateId">#}
{#          <option value="saml-raw-all" selected>SAML tests using raw HTTP (recommended)</option>#}
{#          <option value="saml-headless-all" >SAML tests using headless browser (experimental)</option>#}
{#          <option value="">All templates</option>#}
{#        </select>#}
{#        <span class="help">#}
{#          You can choose specific template which will be used by Nuclei to run tests.#}
{#        </span>#}
{#      </div>#}

      <input type="hidden" id="templateId" value="saml-raw-all">

      <div class="form-group">
        <label for="enableDebug">
          <input type="checkbox" id="enableDebug" checked>
          Show requests and responses?
        </label>

        <label for="enableVerbose">
          <input type="checkbox" id="enableVerbose" checked>
          Show verbose output?
        </label>

        <label for="enableOutputExport">
          <input type="checkbox" id="enableOutputExport">
          Export output to a file?
          <span class="help">
            Choose if you want to export Nuclei output that you can see below to a file.
          </span>
        </label>

        <label for="enableFindingsExport">
          <input type="checkbox" id="enableFindingsExport" checked>
          Export findings to a file?
          <span class="help">
            Choose if you want to export specific lines corresponding to matched rules (findings) from Nuclei to a file.
          </span>
        </label>

        <label for="enableJsonExport">
          <input type="checkbox" id="enableJsonExport" checked>
          Export results in JSON format?
          <span class="help">
            Recommended.
          </span>
        </label>

        <label for="enableJsonLExport">
          <input type="checkbox" id="enableJsonLExport">
          Export results in JSONL(ine) format?
        </label>

        <label for="enableSarifExport">
          <input type="checkbox" id="enableSarifExport">
          Export results in SARIF format?
        </label>

        <label for="enableMarkdownExport">
          <input type="checkbox" id="enableMarkdownExport">
          Export results in Markdown format?
        </label>

      </div>

      <div class="form-group">
        <button id="nuclei-run-test-btn" type="button">Run</button>
      </div>
    </form>
  </div>

  <div class="cmd-output">
    {# TODO mivanci Escape HTML output. #}
    <pre id="cmd-output">{{ output ?? 'Waiting for test initialization.' }}</pre>
  </div>

{% endblock %}

{% block postload %}
  {{ parent() }}

  <script src="{{ asset('js/src/nuclei-test-run.js', 'conformance') }}"></script>
{% endblock %}