{% set subPageTitle = 'Run Nuclei Test'|trans %}

{% extends "@conformance/base.twig" %}

{% block conformanceContent %}
  <p>
    Use this form to run tests using Nuclei tool. Nuclei will be invoked in the backend with all output being redirected
    and streamed below. All exported artifacts will be available as Nuclei Results.
    Export to JSON format is recommended.
  </p>

  <div class="form-container">
    <form method="post">
      <div class="form-group">
        <label for="serviceProviderEntityId">Service Provider (SP)</label>
        <select id="serviceProviderEntityId">
          {% for entityId, serviceProvider in serviceProviders %}
            <option value="{{ entityId }}">{{ entityId }}</option>
          {% endfor %}
        </select>
      </div>

      {# TODO mivanci generate from a list of available tests. #}
      <div class="form-group">
        <label for="testTypeId">Test type</label>
        <select id="testTypeId" name="Test type">
          <option value="standardResponse" selected>Standard response</option>
          <option value="noSignature">No signature</option>
          <option value="invalidSignature">Invalid signature</option>
        </select>
      </div>

      <div class="form-group">
        <label for="assertionConsumerServiceUrl">Assertion Consumer Service (ACS, optional)</label>
        <select id="assertionConsumerServiceUrl">
          <option value="" selected></option>
        </select>
        <span class="help">
          If you need to test specific ACS, select it from here. Otherwise, you can leave it empty to resolve it
          automatically.
        </span>
      </div>

      <div class="form-group">
        <label for="enableDebug">
          <input type="checkbox" id="enableDebug">
          Show requests and responses?
        </label>

        <label for="enableVerbose">
          <input type="checkbox" id="enableVerbose">
          Show verbose output?
        </label>

        <label for="enableOutputExport">
          <input type="checkbox" id="enableOutputExport">
          Export output to a file?
          <span class="help">
            Choose if you want to export Nuclei output that you can see below to a file.
          </span>
        </label>

        <label for="enableFindingsExport">
          <input type="checkbox" id="enableFindingsExport">
          Export findings to a file?
          <span class="help">
            Choose if you want to export specific lines corresponding to matched rules (findings) from Nuclei to a file.
          </span>
        </label>

        <label for="enableJsonExport">
          <input type="checkbox" id="enableJsonExport">
          Export results in JSON format?
          <span class="help">
            Recommended.
          </span>
        </label>

        <label for="enableJsonLExport">
          <input type="checkbox" id="enableJsonLExport">
          Export results in JSONL(ine) format?
        </label>

        <label for="enableSarifExport">
          <input type="checkbox" id="enableSarifExport">
          Export results in SARIF format?
        </label>

        <label for="enableMarkdownExport">
          <input type="checkbox" id="enableMarkdownExport">
          Export results in Markdown format?
        </label>

      </div>

      <div class="form-group">
        <button id="nuclei-run-test-btn" type="button">Run</button>
      </div>
    </form>
  </div>

  <div class="cmd-output">
    {# TODO mivanci Escape HTML output. #}
    <pre id="cmd-output">{{ output ?? 'Waiting for test initialization.' }}</pre>
  </div>

{% endblock %}

{% block postload %}
  {{ parent() }}

  <script src="{{ asset('js/src/nuclei-test-run.js', 'conformance') }}"></script>
{% endblock %}