{% set subPageTitle = 'Run Nuclei Test'|trans %}

{% extends "@conformance/base.twig" %}

{% block conformanceContent %}
  <p>
    Use this form to run tests using Nuclei tool. Nuclei will be invoked in the backend with all output being redirected
    and streamed below. All exported artifacts will be available as Nuclei Results.
  </p>

  <div class="form-container">
    <form method="post">
      <div class="form-group">
        <label for="spEntityId">Service Provider (SP)</label>
        <select id="spEntityId">
          <option value="" selected></option>
          {% for entityId, serviceProvider in serviceProviders %}
            <option value="{{ entityId }}">{{ entityId }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label for="acsUrl">Assertion Consumer Service (ACS, optional)</label>
        <select id="acsUrl">
          <option value="" selected></option>
        </select>
        <span class="help">
          If you need to test specific ACS, select it from here. Otherwise, you can leave it empty to resolve it
          automatically.
        </span>
      </div>

      <div class="form-group">
        <label for="enableDebug">
          <input type="checkbox" id="enableDebug" checked>
          Show requests and responses?
        </label>

        <label for="enableVerbose">
          <input type="checkbox" id="enableVerbose" checked>
          Show verbose output?
        </label>
      </div>

      <div class="form-group">
        <button id="nuclei-run-test-btn" type="button">Run</button>
      </div>
    </form>
  </div>

  <div class="cmd-output">
    <pre id="cmd-output">{{ output ?? 'Waiting for test initialization.' }}</pre>
  </div>

{% endblock %}

{% block postload %}
  {{ parent() }}

  <script src="{{ asset('js/src/nuclei-test-run.js', 'conformance') }}"></script>
{% endblock %}