{% set subPageTitle = 'Nuclei Results'|trans %}

{% extends "@conformance/base.twig" %}

{% block conformanceContent %}

  <p>
      By default, here you can find latest results for all tested service providers.
      Choose a specific service provider to list its results only.
  </p>

  <div class="form-container">
    <form id="resultsForm" method="get" action="results">
      <div class="form-group">
        <label for="spEntityId">Service Provider (SP)</label>
        <select id="spEntityId" name="spEntityId">
          <option value=""></option>
          {% for entityId, serviceProvider in serviceProviders %}
            <option value="{{ entityId }}" {{ entityId == spEntityId ? 'selected' : '' }}>
              {{ entityId }}
            </option>
          {% endfor %}
        </select>
      </div>
    </form>
  </div>

  <h4>
      {% if spEntityId %}
          All results for {{ spEntityId }}
      {% else %}
          Latest results for all tested service providers
      {% endif %}
  </h4>
  <br>
  <div class="results-container">
    {% if results %}
        {% for result in results %}
          <span>
              {{ result.sp_entity_id }} / {{ result.happened_at|date }}
          </span>

          <span class="">
              <a class="pure-button top-right-corner" href="results/show/{{ result.id }}">{{ 'Details'|trans }}</a>
          </span>
          <hr>
            <ul>
                <li><strong>Status:</strong> {{ result.is_ok ? 'OK' : 'FAILING' }}</li>
                <li><strong>Description:</strong> {{ result.description }}</li>
            </ul>
            <br>
        {% endfor %}
      <br>
{#      <h4>Artifacts from all tests</h4>#}
{#      {% for timestamp, entries in artifacts %}#}
{#        <span>{{ timestamp|date }}</span>#}
{#        <hr>#}
{#        <ul>#}
{#          {% for entry in entries %}#}
{#          <li>#}
{#            * <a href="results/download?spEntityId={{ selectedSpEntityId|url_encode }}&result={{ timestamp }}/{{ entry|url_encode }}">#}
{#              {{ entry }}#}
{#            </a>#}
{#          </li>#}
{#          {% endfor %}#}
{#        </ul>#}

{#        <br>#}
{#      {% endfor %}#}
    {% elseif spEntityId %}
      <p>
        No entries.
      </p>
    {% endif %}
  </div>

{% endblock %}

{% block postload %}
  {{ parent() }}

  <script src="{{ asset('js/src/test-results.js', 'conformance') }}"></script>
{% endblock %}