{% set subPageTitle = 'Nuclei Results'|trans %}

{% extends "@conformance/base.twig" %}

{% block conformanceContent %}

  <p>
      {% trans %}By default, here you can find latest results for all tested service providers.
      Choose a specific service provider to list its results only.{% endtrans %}
  </p>

  <div class="form-container">
    <form id="resultsForm" method="get" action="results">
      <div class="form-group">
        <label for="spEntityId">{{ 'Service Provider (SP)'|trans }}</label>
        <select id="spEntityId" name="spEntityId">
          <option value=""></option>
          {% for entityId, serviceProvider in serviceProviders %}
            <option value="{{ entityId }}" {{ entityId == spEntityId ? 'selected' : '' }}>
              {{ entityId }}
            </option>
          {% endfor %}
        </select>
      </div>
    </form>
  </div>

  <h4>
      {% if spEntityId %}
          {{ 'All results for'|trans }} {{ spEntityId }}
      {% else %}
          {{ 'Latest results for all tested service providers'|trans }}
      {% endif %}
  </h4>
  <br>
  <div class="results-container">
    {% if results %}
        {% for result in results %}
          <span>
              <a class="pure-button "
                 href="results/show/{{ result.id }}{{ spEntityId ? '?spEntityId=' ~ spEntityId : '' }}">
                  {{ result.sp_entity_id }} / {{ result.happened_at|date }}
              </a>
          </span>
          <hr>
          <ul>
            <li>
                <strong>{{ 'Status:'|trans }}</strong>
                <span class="test-result-status {{ result.is_ok ? 'status-ok' : 'status-failing' }}">
                    {{ result.is_ok ? 'OK' : 'FAILING' }}
                </span>
            </li>
            <li><strong>{{ 'Description:'|trans }}</strong> {{ result.description }}</li>
          </ul>
            <br>
        {% endfor %}
      <br>
    {% elseif spEntityId %}
      <p>
        {{ 'No entries.'|trans }}
      </p>
    {% endif %}
  </div>

{% endblock %}

{% block postload %}
  {{ parent() }}

  <script src="{{ asset('js/src/test-results.js', 'conformance') }}"></script>
{% endblock %}