{% set subPageTitle = 'Module Overview'|trans %}

{% extends "@conformance/base.twig" %}

{% block conformanceContent %}

    <p>{{ 'Conformance module overview and setup.'|trans }}</p>

    <h4>Nuclei</h4>

    <p>
        {% trans %}Conformance module depends on Nuclei to run the SAML security related tests.
        Nuclei info is:{% endtrans %}
    </p>

    <pre>
        {%- if nucleiStatus %}
            {{- nucleiStatus|striptags('<span>')|raw -}}
        {% else %}
            {{- 'Error: could not get Nuclei version, no output.'|trans -}}
        {% endif %}
    </pre>

    <br>

    <h4>{{ 'Migrations'|trans }}</h4>

    <p>
        {% trans %}Conformance module uses a database to store different things related to test runs.{% endtrans %}
    </p>
    {%- if migrator.nonImplementedMigrations %}
        <p>
            {% trans %}There are database migrations that have not been implemented.
            Use the button below to run them now.{% endtrans %}
        </p>
        <ul>
            {% for migration in migrator.nonImplementedMigrations %}
                <li>* {{ migration }}</li>
            {% endfor %}
        </ul>
        <br>

        <form method="post" class="pure-form" action="{{ moduleURL('conformance/overview/run-migrations') }}">
            <input type="hidden" name="fromUi" value="1">
            <button class="pure-button pure-button-red ">{{ 'Run migrations'|trans }}</button>
        </form>
    {% else %}
        <pre><span>{{- 'OK: all database migrations are implemented.'|trans -}}</span></pre>
    {% endif %}

    <br>
    <h4>{{ 'Administrative authorization tokens'|trans }}</h4>

    <p>{{ 'These tokens can be used for API actions on all SPs.'|trans }}</p>

    {%- if moduleConfiguration.administrativeTokens -%}
        <table class="table pure-table pure-table-bordered">
            <thead>
            <tr><th>{{ 'Value'|trans }}</th><th>{{ 'Description'|trans }}</th></tr>
            </thead>
            <tbody>
            {%- for token, description in moduleConfiguration.administrativeTokens -%}
                <tr>
                    <td>
                        <div>
                            <span class="showable">{{ token|first }}...</span>
                            <span class="hiddenable">{{ token }}</span>
                        </div>
                    </td>
                    <td>{{ description }}</td></tr>
            {% endfor -%}
            </tbody>
        </table>
    {% else %}
        <p>{{ 'No administrative tokens available.'|trans }}</p>
    {% endif %}

    <br>
    <h4>{{ 'Service Provider authorization tokens'|trans }}</h4>

    <p>{{ 'These tokens can be used for API actions on particular SPs.'|trans }}</p>

    {%- if moduleConfiguration.serviceProviderTokens -%}
        <table class="table pure-table pure-table-bordered">
            <thead>
            <tr><th>{{ 'Value'|trans }}</th><th>{{ 'Service providers'|trans }}</th></tr>
            </thead>
            <tbody>
            {%- for token, serviceProviders in moduleConfiguration.serviceProviderTokens -%}
                <tr>
                    <td>
                        <div>
                            <span class="showable">{{ token|first }}...</span>
                            <span class="hiddenable">{{ token }}</span>
                        </div>
                    </td>
                    <td>
                        {% for sp in serviceProviders %}
                            {{ sp }}<br>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor -%}
            </tbody>
        </table>
    {% else %}
        <p>{{ 'No administrative tokens available.'|trans }}</p>
    {% endif %}
{% endblock conformanceContent -%}

{% block postload %}
    {{ parent() }}
    <script src="{{ asset('js/metadata-converter.js', 'admin') }}"></script>
{% endblock postload %}
