{% set subPageTitle = 'SP Consents'|trans %}

{% extends "@conformance/base.twig" %}

{% block conformanceContent %}

    <p>
    {% if isConsentRequired %}
        SP consent requirement has been enabled in module configuration.
        Below you can find a list of SPs and their consent status.
    {% else %}
       SP consent requirement has been disabled in module configuration.
    {% endif %}
    </p>

    {% if isConsentRequired %}
        {% if overridden %}
            <h4>SPs for which the consent requirement has been overridden in module configuration.</h4>
            <table class="table pure-table pure-table-bordered">
                <thead>
                <tr><th>SP Entity ID</th></tr>
                </thead>
                <tbody>
                {%- for spEntityID in overridden -%}
                    <tr><td>{{ spEntityID }}</td></tr>
                {% endfor -%}
                </tbody>
            </table>
        {% endif %}

        <h4>SPs for which the consent has been acquired</h4>
        {% if consented %}
            <table class="table pure-table pure-table-bordered">
                <thead>
                <tr><th>SP Entity ID</th><th>From contact email</th><th>Date</th></tr>
                </thead>
                <tbody>
                {%- for sp in consented -%}
                    <tr>
                        <td>{{ sp.entity_id }}</td>
                        <td>{{ sp.contact_email }}</td>
                        <td>{{ sp.created_at|date }}</td>
                    </tr>
                {% endfor -%}
                </tbody>
            </table>
        {% else %}
            <p>No data.</p>
        {% endif %}

        <h4>SPs for which the consent has been requested</h4>
        {% if requested %}
            <table class="table pure-table pure-table-bordered">
                <thead>
                <tr><th>SP Entity ID</th><th>Contact email</th><th>Date</th></tr>
                </thead>
                <tbody>
                {%- for sp in requested -%}
                    <tr>
                        <td>{{ sp.entity_id }}</td>
                        <td>{{ sp.contact_email }}</td>
                        <td>{{ sp.created_at|date }}</td>
                    </tr>
                {% endfor -%}
                </tbody>
            </table>
        {% else %}
            <p>No data.</p>
        {% endif %}
    {% endif %}
{% endblock conformanceContent -%}
