{% set subPageTitle = 'SP Consents'|trans %}

{% extends "@conformance/base.twig" %}

{% block conformanceContent %}

    <p>
    {% if isConsentRequired %}
        {% trans %}SP consent requirement has been enabled in module configuration.
        Below you can find a list of SPs and their consent status.{% endtrans %}
    {% else %}
       {% trans %}SP consent requirement has been disabled in module configuration.{% endtrans %}
    {% endif %}
    </p>

    {% if isConsentRequired %}
        {% if overridden %}
            <h4>{{ 'SPs for which the consent requirement has been overridden in module configuration.'|trans }}</h4>
            <table class="table pure-table pure-table-bordered">
                <thead>
                <tr><th>{{ 'SP Entity ID'|trans }}</th></tr>
                </thead>
                <tbody>
                {%- for spEntityID in overridden -%}
                    <tr><td>{{ spEntityID }}</td></tr>
                {% endfor -%}
                </tbody>
            </table>
        {% endif %}

        <h4>{{ 'SPs for which the consent has been acquired'|trans }}</h4>
        {% if consented %}
            <table class="table pure-table pure-table-bordered">
                <thead>
                <tr>
                    <th>{{ 'SP Entity ID'|trans }}</th>
                    <th>{{ 'From contact email'|trans }}</th>
                    <th>{{ 'Date'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {%- for sp in consented -%}
                    <tr>
                        <td>{{ sp.entity_id }}</td>
                        <td>{{ sp.contact_email }}</td>
                        <td>{{ sp.created_at|date }}</td>
                    </tr>
                {% endfor -%}
                </tbody>
            </table>
        {% else %}
            <p>No data.</p>
        {% endif %}

        <h4>{{ 'SPs for which the consent has been requested'|trans }}</h4>
        {% if requested %}
            <table class="table pure-table pure-table-bordered">
                <thead>
                <tr>
                    <th>{{ 'SP Entity ID'|trans }}</th>
                    <th>{{ 'Contact email'|trans }}</th>
                    <th>{{ 'Date'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {%- for sp in requested -%}
                    <tr>
                        <td>{{ sp.entity_id }}</td>
                        <td>{{ sp.contact_email }}</td>
                        <td>{{ sp.created_at|date }}</td>
                    </tr>
                {% endfor -%}
                </tbody>
            </table>
        {% else %}
            <p>No data.</p>
        {% endif %}
    {% endif %}
{% endblock conformanceContent -%}
