{% set subPageTitle = 'Add SP metadata'|trans %}

{% extends "@conformance/base.twig" %}

{% block conformanceContent %}

    <p>
        Use the form below to add new / update existing Service Provider (SP) metadata. You can check for
        available SP metadata in the standard administration area of SimpleSAMLphp.
    </p>

    {% if status is not null %}
        <div class="code-box">
            <div class="code-box-content">
                <pre id="" class="">{{ status|escape|upper }}: {{ message|escape }}</pre>
            </div>
        </div>
    {% endif -%}

    <form method="post" class="pure-form" enctype="multipart/form-data" action="{{ moduleURL('conformance/metadata/persist') }}">
        <input type="hidden" name="fromUi" value="1">
        <div class="pure-control-group">
            <textarea name="xmlData" rows="20" class="text-area edge xmldata">{{ xmlData }}</textarea>
        </div>
        <br>
        <div class="center">
            <div class="pure-button-group two-elements" role="group">
                <label class="pure-button">
                    <span class="fa fa-folder-open"></span>{{ 'or select a file:'|trans }}
                    <input type="file" name="xmlFile" class="hidden" id="file-input">
                </label>
                <label id="show-file" class="pure-button hollow show-files" >{{ 'No file selected.'|trans }}</label>
            </div>
            <br>
            <button class="pure-button pure-button-red pure-input-1-3">{{ 'Parse'|trans }}</button>
        </div>
    </form>
{% endblock conformanceContent -%}

{% block postload %}
    {{ parent() }}
    <script src="{{ asset('js/metadata-converter.js', 'admin') }}"></script>
{% endblock postload %}
