
{% extends "@conformance/base.twig" %}

{% block conformanceContent %}

  <p>
    {% trans %}Choose the test you want to run for this authentication event.{% endtrans %}
  </p>

  <div class="card">
    <h3 class="card-title">{{ 'Valid SAML signature (test 1)'|trans }}</h3>
    <p class="card-description">
      {% trans %}
      Create a SAML response with a valid IdP signature. The certificate in IdP metadata corresponds to the private
      key used to create the signature, so it can be validated. SP should accept this SAML response without errors
      (or at least without SAML signature related errors).
      {% trans %}
    </p>
    <a href="{{ moduleURL('conformance/test/setup?testId=standardResponse&StateId=' ~ StateId) }}"
       class="card-link"
    >
      {{ 'Select'|trans }}
    </a>
  </div>

  <div class="card">
    <h3 class="card-title">{{ 'No SAML signature (test 2)'|trans }}</h3>
    <p class="card-description">
      {% trans %}
      Create a SAML response without signature. SP should discard this SAML response with error related to a missing
      signature.
      {% endtrans %}
    </p>
    <a href="{{ moduleURL('conformance/test/setup?testId=noSignature&StateId=' ~ StateId) }}"
       class="card-link"
    >
      {{ 'Select'|trans }}
    </a>
  </div>

  <div class="card">
    <h3 class="card-title">Invalid SAML signature (test 3)</h3>
    <p class="card-description">
      {% trans %}
      Create a SAML response with an invalid IdP signature. The signature in SAML response will be present, however it
      will be created with a different private key, meaning certificate in IdP metadata will not correspond to the
      private key used to create the signature. SP should discard this SAML response with error related to invalid
      signature.
      {% endtrans %}
    </p>
    <a href="{{ moduleURL('conformance/test/setup?testId=invalidSignature&StateId=' ~ StateId) }}"
       class="card-link"
    >
      {{ 'Select'|trans }}
    </a>
  </div>

{% endblock%}
